*{
	color: black;
	font-family: 'qualy', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.bg-light{
	background-color:rgb(255, 102, 102) !important;
}
body{
	background-color: rgb(66, 63, 59);
}
.navbar-brand{
	padding: 1px;
	width: 65px;
}
.foty{
	background-color: rgb(255, 229, 169) !important;
}
.redes {
	width: 30px;	
	height: 30px;
	padding: 2px;
}
@font-face {
	font-family: "qualy bold";
	src: url(../assets/fonts/qualybold.ttf);
}
.form-row{
	padding: auto;
}
.horizon{
	display: flex;
	justify-content: center;
}
.tabla{
	display: flex;
	justify-content: center;
	background-color: greenyellow;
}